body{
    background-image: url(images/diceWallpaper.jpg); 
}
h1{
    font-family: 'Montserrat Alternates';
    font-weight: 800;
    font-size: 5rem;
    margin-bottom: 5%;
}
.container{
    text-align: center;
}
.card{
    margin: 0 7%;
    background-color: rgba(245, 245, 220, 0.137);
    border-radius: 31px;
    padding-top: 5%;
}
.card-img-top{
    width: 200px !important;
}
img{
    margin: 0 auto;
}

